.container
  .row.pl-5.mt-5.text-info.bg-white
    Continuators Ranking
  .row
    - @articles.each do |article|
      = link_to article do
        .col-md-6.mt-5.ml-5.text-white
          - if article.img_id.present?
            = image_tag attachment_url(article, :img), alt: '', height: '200px', width: '200px', class: "rounded-circle"
          - else
            = image_tag 'background.jpg', alt: '', height: '200px', width: '200px', class: "rounded-circle"
          = article.title
          %br
          = article.user.nickname

-# <% if user_signed_in? %>
-#     <% if tweet.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
-#         <p><span>お気に入り解除: </span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :delete %></p>
-#     <% else %>
-#         <p><span>お気に入り登録: </span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :post %></p>
-#     <% end %>
-#   <% else %>
-#     <p><span>お気に入り数: </span><%= tweet.favorites.count %></p>
-#   <% end %>
-#   <!-- ここまで -->