.container
  %h1.text-center 
    = @article.title
  .row
    .col-md-6.mx-5
      - if @article.img_id.present?
        = image_tag attachment_url(@article, :img), alt: '', height: '500px', width: '500px'
      - else
        = image_tag 'foodie.jpg', alt: '', height: '500px', width: '500px'
      %br
        %p.text-weight-bold
          = @article.body
      %br
        %p.text-right
          = l @article.created_at, format: :short
      %br
      = link_to '投稿の編集', edit_article_path(@article), class: 'btn btn-primary'
      = link_to '投稿を削除', article_path(@article), method: :delete, data: {confirm: "投稿を削除してもよろしいですか?" }, class: 'btn btn-danger'
