.container
  %h1.text-center 
    = @article.title
  .row.mb-5
    .col
    .col-md-6.mx-5
      - if @article.img_id.present?
        = image_tag attachment_url(@article, :img), alt: '', height: '500px', width: '500px'
      - else
        = image_tag 'background.jpg', alt: '', height: '500px', width: '500px'
      %br
        %p.text-weight-bold
          = @article.body
      %br
        %p.text-right
          = l @article.created_at, format: :short
      - if current_user == @article.user
        = link_to '投稿の編集', edit_article_path(@article), class: 'btn btn-primary'
        = link_to '投稿を削除', article_path(@article), method: :delete, data: {confirm: "投稿を削除してもよろしいですか?" }, class: 'btn btn-danger'
      - else
        = link_to '他の人の投稿なので、編集できません', "#", class: 'btn btn-primary'
    .col
  .row.mt-2
    .col
    .col-md-6.mx-5
      %h6 [コメント一覧]
      - @comments.each do |comment|
        %p 
        = comment.text
    .col
  .row.mt-2
    .col
    .col-md-6.mx-5
      = form_with model: [@article, @comment], url: article_comments_path(@article), id: 'comment_id', local: true do |f|
        .form_group
        = f.text_area :text, placeholder: "コメントを入力する", class: "form-control"
        = f.submit "送信", class: "btn btn-success", style: "margin: 5px;"
    .col