.contents__row
  %p 
  = "#{@nickname}の投稿一覧"
    - @articles.each do |article|
    = link_to article do
      .col-md-6.mt-5.ml-5.text-white
        - if article.img_id.present?
          = image_tag attachment_url(article, :img), alt: '', height: '100px', width: '100px', class: "rounded-circle"
        - else
          = image_tag 'background.jpg', alt: '', height: '100px', width: '100px', class: "rounded-circle"
        = article.title
        %br
        = article.user.nickname
        %br
        = l article.created_at, format: :short
